.appCard {
  background-color: #e9ecef;
  border: 1px solid rgba(131, 130, 161, 0.5);
  border-radius: 15px;
  margin-bottom: 10px;
  width: 70%;
}

.heart {
  background-image: url('../../assets/images/heart.svg');
  height: 20px;
  width: 20px;
}

.heart:hover {
  background-image: url('../../assets/images/heartFull.svg');
  height: 20px;
  width: 20px;
  transition: 0.2s;
}