.button {
  background-color: rgba(131,130,160,0.8);
  border: none;
  outline: none;
}

.button:active,
.button:focus {
  background-color: rgba(71,65,168,0.7) !important;
  box-shadow: none !important;
  outline: none !important;
}

.button:hover {
  background-color: rgb(116,114,162);
}

.modalHeart {
  width: 20px;
}